# Байт-код Python
__pycache__/
*.py[cod]
*$py.class

# Среда выполнения и виртуальные окружения
venv/
env/
ENV/
.env

# Файлы данных и модели
*.db
*.sqlite3
models/
data/

# Логи
*.log

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
temp/

# Файлы jupyter notebooks
.ipynb_checkpoints
*.ipynb